<!-- <p>Interpolation and Property Binding</p>

<h1 id="name">{{name}}</h1>

<input type="{{type}}" placeholder="{{placeholder}}" id="usernum" [readonly]="UserReadonly"> -->


<!-- <p>ngClass and ngStyle</p>

<p [ngClass]="redColor" id="header">Admin portal!</p>

<h1 [ngClass]="num > 10 ? 'font-blue' : 'font-red'" id="header1"> Is Number is greater than 10?</h1>

<p [ngStyle]="{'color': (num < 10 ? 'black' : 'green')}" id="para">Hello</p> -->





<!-- <p>Attribute Binding</p>

<button type="button" [attr.aria-label]="arialable" id="buttonId">Save</button>
<table border="1">
    <thead>
        <tr>
            <th [attr.colspan]="columnSpan" id="colId">
                {{pageHeader}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>First Name</td>
            <td>{{FirstName}}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{LastName}}</td>
        </tr>
        <tr>
            <td>Branch</td>
            <td>{{Branch}}</td>
        </tr>
        <tr>
            <td>Mobile </td>
            <td>{{Mobile}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{Gender}}</td>
        </tr>
        <tr>
            <td>Age </td>
            <td>{{Age}}</td>
        </tr>
    </tbody>
</table> -->





<!-- <p>Event Binding</p>

<button id="button1" (click)="button1Click()" style="color: blue;">Button1 click event</button>

<br> <br>

<button id="button2" on-click="button2Click()" style="color: blue;">Button2 click event</button>

<br> <br>

<input id="textbox1" placeholder="button1 on value change" (input)="onChangeInput()">

<br> <br>

<input id="textbox2" placeholder="capture the event of the input" (input)="onChangeLabelInput($event)">

<br>

<h3>{{label}}</h3> -->




<!-- <p>Two way data-binding</p>

<input type="text" class="form-control" id="name" [(ngModel)]="studentName">

<h2>{{studentName}}</h2>

<button (click)="setName()" id="button1">Button1</button> -->

