<!-- <p>*ngIf</p>

<div *ngIf="num >= 20" id="div1">Number is greater than and equal to 20</div>

<div *ngIf="num < 20" id="div2">Number is less than  20</div>

<div *ngIf="num >= 20; then trueCase; else falseCase" id="div3"></div>

<ng-template #trueCase>
    <p id="ng1">Number is greater than 20 ng-template</p>
</ng-template>

<ng-template #falseCase>
    <p id="ng2">Number is smaller than 20 ng-template</p>
</ng-template> -->




<!-- <p>*ngSwitch</p>

<div [ngSwitch]="selectedNum" id="div1">
    <div *ngSwitchCase="'One'" id="div2">One is Selected</div>
    <div *ngSwitchCase="'Two'" id="div3">Two is Selected</div>
    <div *ngSwitchDefault id="div4">Default Option</div>
</div> -->




<!-- <p>*ngFor</p>

<div *ngFor="let item of ColorNames" class="ngFor1">
    <div>{{item}}</div>
</div>

<p style="color: red;">Array list for color</p>
<div *ngFor="let item of ColorsList" class="ngFor2">
    <div>{{item.name}} - {{item.id}}</div>
</div>

<p style="color: red;">Array list for ngFor properties</p>
<div *ngFor="let item of ColorsList; let i=index; let f=first; let l=last; let e=even; let o=odd " class="ngFor3">
    <div>{{i}}-{{f}}-{{l}}-{{e}}-{{o}}</div>
</div> -->





<!-- <p>Pipe</p>

<h4>{{title | uppercase}}</h4>  
<h4>{{title | lowercase}}</h4> 

<p style="color: red;">Custom pipe</p>

<h2>{{size | fileSize}}</h2>
<h2>{{size | fileSize : "GB"}}</h2> -->





